spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: update

  application:
    name: "usuario_service"
server:
  port: 8083
