server:
  port: 8080

spring:
  application:
    name: api_gateway

  cloud:
    gateway:
      routes:
        - id: author_service
          uri: http://localhost:8081
          predicates:
            - Path=/api/v1/authors/**
          filters:
            - StripPrefix=0
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedHeaders: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
logging:
  level:
    org.springframework.cloud.gateway: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      enabled: true