spring:
  application:
    name: demo
  cloud:
    gateway:
      server:
        webmvc:
          routes:
            - id: service_authors
              uri: http://localhost:8081
              predicates:
                - Path=/api/v1/authors/**
logging:
  level:
    root: debug
